@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa&display=swap');

@font-face{
    font-family: '000webfont';
    src: url('/assets/font/000webfont.ttf');
}

:root {
    --dark: #212121;
    --darker: #121212;
    --superdark: #0a0a0a;
    --almond: #ffebcd;
    --light: #fefefe;
    --superlight: #ffffff;
    --red: #e83b3b;
    --darkred: #ae2334;
    --orange: #f8a435;
    --offwhite: #c7dcd0;
    --magenta: #a884f3;
    --indigo: #3e01fc;
    --darkpurple: #2e222f;
    --superdarkpurple: #251c26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lisu Bosa', serif;
    background-color: var(--darker);
    color: var(--light);
}

.monospace {
    font-family: "000webfont", monospace;
}

details {
    padding: 0.5rem;
    margin: 1em 1em 1em 0;
    display: block;
    transition: background-color 0.1s ease-in-out;
  }


details summary {
    font-size: 130%;
    cursor: pointer;
    user-select: none;
    transition: margin 70ms ease-in-out;
}
  
a {
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: var(--darkred);
    text-decoration: underline;
}

  
.screen {
    overflow: hidden;
    min-height: 45em;
}

.darken {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

